.tabla {
  overflow-y: scroll; 
}

.tabla td,
.tabla th {
  padding: 8px;
  border: 1px solid black;
}

.tabla th {
  background-color: #04aa46;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover {
  background-color: #ddd;
}
